<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.mapper.ContainerMapper">

	<!-- String conID; String conSize; double conMaxWeight; String regDate; 
		String updateDate; double conFullWeight; int conFullQuantity; double conWarningWeight; 
		int conWarningQuantity; double conCurrWeight; int conCurrQuantity; double 
		conUnitWeight; String ingID; String ingName; String ingWeight; String chainID; 
		String chainName; String hqID; String hqName; -->
	<insert id="insert" parameterType="container">
		INSERT INTO CONTAINER VALUES
		('conID_'||TO_CHAR(conID_seq.NEXTVAL),#{conSize},#{conMaxWeight},#{conRegDate},#{conUpdateDate},#{conFullWeight},#{conFullQuantity},#{conWarningWeight},#{conWarningQuantity},#{conCurrWeight},#{conCurrQuantity},#{conUnitWeight},#{ingID},#{ingName},#{ingWeight},#{ingUnit},#{chainID},#{chainName},#{hqID},#{hqName})
	</insert>

	<update id="update" parameterType="container">
		UPDATE CONTAINER SET
		conFullQuantity=#{conFullQuantity},conFullWeight=#{conFullWeight},conWarningWeight=#{conWarningWeight},conWarningQuantity=#{conWarningQuantity},conUnitWeight=#{conUnitWeight},ingID=#{ingID},ingName=#{ingName},ingWeight=#{ingWeight},ingUnit=#{ingUnit}
		WHERE CONID=#{conID}

	</update>
	
	<update id="updateondelivered" parameterType="container">
		UPDATE CONTAINER SET
		conFullQuantity=#{conFullQuantity},conFullWeight=#{conFullWeight},conWarningWeight=#{conWarningWeight},
		conWarningQuantity=#{conWarningQuantity},conUnitWeight=#{conUnitWeight},ingID=#{ingID},ingName=#{ingName},
		ingWeight=#{ingWeight},ingUnit=#{ingUnit},conCurrWeight=#{conCurrWeight}, conCurrQuantity=#{conCurrQuantity}
		WHERE CONID=#{conID}

	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM CONTAINER WHERE
		conID=#{conID}
	</delete>

	<select id="select" parameterType="String"
		resultType="container">
		SELECT * FROM CONTAINER WHERE conID=#{conID}
	</select>


	<select id="selectall" resultType="container">
		SELECT * FROM CONTAINER
	</select>

	<select id="selectbyhq" parameterType="String"
		resultType="container">
		SELECT * FROM CONTAINER WHERE hqID=#{hqID}
	</select>

	<select id="selectForChain" parameterType="String"
		resultType="container">
		SELECT * FROM CONTAINER WHERE chainID=#{chainID}
	</select>



	<select id="selectjustregistered" parameterType="container"
		resultType="container">
		SELECT * FROM CONTAINER WHERE conRegDate=#{conRegDate} AND chainID=#{chainID}
	</select>
</mapper>

