<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.mapper.HeadquarterMapper">
	<select id="select" parameterType="String" resultType="headquarter">
		SELECT * FROM HEADQUARTER WHERE hqID=#{hqID}
	</select>
	<select id="selectall" resultType="headquarter">
		SELECT * FROM HEADQUARTER
	</select>
</mapper>